<div class="sidenavContent">
    <!-- the side navigation list content -->
    <mat-nav-list>
        <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
            <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
        </a>
        <a mat-list-item routerLink="/movies" (click)="onSidenavClose()">
            <mat-icon>movie</mat-icon> <span class="nav-caption">Movies</span>
        </a>
        <a mat-list-item routerLink="/tv-shows" (click)="onSidenavClose()">
            <mat-icon>tv</mat-icon><span class="nav-caption">Tv-Shows</span>
        </a>
        <a mat-list-item routerLink="/people" (click)="onSidenavClose()">
            <mat-icon>people</mat-icon><span class="nav-caption">People</span>
        </a>
        <a mat-list-item routerLink="/favorites" (click)="onSidenavClose()">
            <mat-icon>favorite</mat-icon><span class="nav-caption">My favorites</span>
        </a>
    </mat-nav-list>
</div>